.gradient {
    background-image: linear-gradient(to bottom,#8acdeaff,#ebd3deff,#ede6f2ff);
}

/* nav bar */

.header-image {
    float: left;
    width: 30%;
}

.avatar {
    vertical-align: middle;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5vh;
    transition: all 0.2s ease-in-out;
}

.nav-wrapper {
    display: flex;
    width: 100%;
    padding-left: 150px; 
    padding-top: 50px;
    transition: top 0.3s; 
}

header {
    height: 100px;
    width: 100%;
}

nav {
    float: left;
    padding-left: 600px;
    line-height: 100px; 
}

nav a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 3px;
    font-size: 20px;
    margin: 0 20px;
    color: #45536F;
    transition: all 0.2s ease-in-out;
    display: inline;
}

nav a.active {
    color: #ffffff;
}

nav a:hover {
    color: #ffffff;
}

/* nav bar end */


.section {
    max-width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    /* margin: 240px auto 0; */
    /* padding: 40px; */
}

.grid-items {
    display: flex;
    flex-flow: row wrap;
}

.section-header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 160px;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    pointer-events: none;
    flex: 1 100%;
}

.section-header2 {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: -0.02em;
    text-align: left;
    z-index: 10;
    position: relative;
    line-height: 0.6em;
    margin-top: 100px; 
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start:0.830em;
    margin-block-end: 0.83em;
    margin-inline-start: 35px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}

div {
    display: block;
}

#title .cloud {
    position: absolute;
    background: url("../images/cloud.svg") top left no-repeat;
    width: 150px;
    height: 45px;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    z-index: 980;
}


#title .right-cloud {
    right: -5em;
    top: 0;
}

.transistion {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

#title .left-cloud {
    left: -6em;
    bottom: 2em;
}

.grid-item-about-me {
    color: #fff;
    background-color: #8acdea;
    padding-bottom: 100px;
    margin-top: -150px;
    transition: all 0.2s ease-in-out;
    border-radius: 00px;
}

.ml3 {
    font-weight: 900;
    font-size: 3.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    padding: 10px;
    transition: all .4s ease-in-out;
    background-color: transparent;
    border: 2px solid white;
    width: 100px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color ease 400ms;
}

.logo:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.support, .experience0, .experience, .experience1, .experience2, .privacy, .experience3, .experience4 {
display: flex;
width: 1280px;
max-width: 100vw;
flex-direction: column;
padding: 30px;
border-radius: 20px;
align-items: center;
color: white;
margin: 0px auto 0;
}


.experience-header-text {
    font-size: 30px;
    line-height: 1.3em;
    /* margin: 60px auto 0.65em; */
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 680px;
    z-index: 10;
    letter-spacing: 2px;
    padding-left:20px;
}

.experience-text {
    max-width: 100%;
    line-height: 150%;
    letter-spacing: 1.4px;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}
.experience-header {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 40px;
}

.experience3 {
    background-color:#028090;
    margin: 40px auto;
}

.experience4 {
    background-color:#C19AB7;
    margin: 40px auto;
}

.links {
    display: flex;
}
.experience0 {
    background-color:#3A445D;
    margin: 40px auto;
}

.experience1 {
    background-color:#D585A3;
    margin: 40px auto;
}
.experience {
    background-color:#7A5777;
}

.experience2 {
    background-color:#8acdea;
    margin: 40px auto;
}

.experience-image {
    min-width: 200px;
    max-width: 400px;
    /* background-color: white; */
    height: 550px;
    padding: 20px;
    transition: all .4s ease-in-out;
    margin-left: 20px;
}

.experience-images {
    display: flex;
    max-width: 100vw;
    padding: 20px;
    margin-bottom: 40px;
}
  
.grid-item-work {
    color: #fff;
    margin-top: -150px;
    margin-bottom: -170px;
}

.case-item-about-me1 {
    background-color: #D585A3;
}

.case-item-about-me2 {
    background-color: #456990;
}

.case-item-about-me3 {
    margin-top: -170px;
    background-image: url(../images/2.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    aspect-ratio: 1.0;
    
}

.case-item-about-me4 {
    margin-top: -170px;
    background-image: url(../images/3.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    aspect-ratio: 1.0;
}


.case-item-about-me5 {
    background-image: url(../images/1.jpeg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    aspect-ratio: 1.0;
}

.case-item-about-me1 .grid-item-bg {
    background-position: center bottom;
    background-repeat: no-repeat;
}

.bottom-gradient {
    width: 100%;
    height: 400px;
    background-image: linear-gradient(to top, #ede6f2ff,#f5ccdc, #FFC4D1,#FFE8E1,#ede6f2ff);
    margin-top: -250px;
    padding: 0px 0px 0px 0px;
}

.grid-item {
    flex: 1 50%;
    padding: 30px 50px 60px;
    min-height: 500px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    display: flex;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.section {
    width: 1280px;
    max-width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px auto 0;
    padding: 0px;
}

.grid-items {
    display: flex;
    flex-flow: row wrap;
}

.grid-item-about-me:hover {
    transform: scale(0.9);
    border-radius: 100px;
}

.grid-item-about-me:hover .grid-item-header {
    transform: scale(0.5);
    font-weight: 400;
} 

.grid-item-about-me:hover .grid-item-text {
    transform: scale(1.4);
    font-weight: 800;
} 

.grid-item-header {
    font-size: 30px;
    line-height: 1.3em;
    /* margin: 60px auto 0.65em; */
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: translateZ(0);
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 680px;
    z-index: 10;
    letter-spacing: 2px;
}

.grid-item-text {
    margin: 0 auto 60px;
    /* width: 80%; */
    max-width: 500px;
    line-height: 120%;
    transition: transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contact-info {
    color: #fff;
    padding-right: 55%;
    padding-left: 50px;
    padding-top: 75px;
    background-color: #6D3B47;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    justify-self: flex-start;
}

.contact-card a, .contact-card a:hover {
    color: inherit;
}

.grid-item-header-left {
    margin-top: 0;
    max-width: 440px;
    margin-left: 0;
    margin-bottom: 50px;
    display: block;
    font-size: 58px;
}

.grid-item-divider {
    display: block;
    position: relative;
    height: 3px;
    background-color: currentColor;
    width: 60px;
    right: 0;
    margin: 60px auto 30px;
    transform: scaleX(0.8);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.grid-item-divider-left {
    margin-left: 0;
    right: initial;
    transform: scaleX(1);
}

.grid-item-text-left {
    max-width: 70%;
    margin: 0 0 2em;
}

.contact-picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #e7e8ed;
}

.contact-picture-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contact-link {
    padding: 4px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 70px;
    vertical-align: top;
}
.contact-card .grid-item-header {
    text-decoration: none;
    /* height: 300px; */
}

.section-animation {
    animation: text-animation 2s 1;
}

.sectionheader-animation {
    animation: text-animation1 2s 1;
}

.transparent_button {
    display: inline-block;
    font-size: 14px;
    line-height: 120%;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 12px;
    /* width: 100px; */
    margin-right: 10px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color ease 400ms;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.transparent_button:hover {
    color: #FFF;
    background-color:rgba(255, 255, 255, 0.3);
}

@keyframes text-animation {
    0% {
        color:#5A83AF;
    }

    30% {
        color:#5A83AF;
        letter-spacing: 25px;
    }

    65% {
        color:#5A83AF;
        letter-spacing: -0.1em;
    }

    85% {
        color:#fff;
        letter-spacing: -0.02em;
    }
}

@keyframes text-animation1 {
    0% {
        color:#000;
    }

    30% {
        letter-spacing: 25px;
    }

    65% {

        letter-spacing: -0.1em;
    }

    85% {
        letter-spacing: -0.02em;
    }
}

/* All media queries */

@media (min-width: 992px) {
    #title .left-cloud {
        left: 2em;
        bottom: 5em;
    }
}

@media (min-width: 992px) {
    #title .right-cloud {
        right: 2em;
        top: 6em;
    }


}

@media screen and (max-width: 955px) {
    nav {
        padding-left: 0px;
    }
}

@media screen and (max-width: 654px) {
    nav {
        padding-left: 0px;
        /* margin-left: -100px; */
        display: flex;
        flex-direction: column;
    }

    nav a {
        letter-spacing: 3px;
        font-size: 15px;
        margin: 0 20px;
        color: #45536F;
        line-height: 30px;

    }

    .section-header {
        font-size: 120px;
    }

    .tech-container {
        margin: auto;
        flex-flow: column wrap;
        align-content: flex-start;
    }
    
    .tech {
        justify-content: space-evenly;
        flex-flow: column wrap;
    }

    .tech-image {
        padding-bottom: 50px ;
    }

    .avatar {
        vertical-align: middle;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 5vh;
        transform: scale(0.7,0.7);
    }
    
    .grid-items {
        display: flex;
        flex-flow: column wrap;
    }

    .experience-images {
        flex-direction: column;
    }

}


/* ALL GRID ITEMS WORK SECTION*/

.case-item-about-work1 {
    background-color: #7A5777;
}

.case-item-about-work2 {
    background-color: #8CABBE;
}

.case-item-about-work3 {
    background-color: #8cd4d4;
}


.case-item-about-personal {
    background-color: #C19AB7;
    transition: all 0.2s ease-in-out;
}

.case-item-about-personal:hover{
    border-radius: 100px;
    transform: scale(0.9);
}


.case-item-about-personal1 {
    /* background-color: #b68cb8; */
    display: inline-block;
    background-image: url("../images/nav.svg") ;
    background-size: cover;
    background-attachment: fixed;
    object-fit: contain;
    transition: all 0.2s ease-in-out;
}


.case-item-about-personal1:hover {
    border-radius: 100px;
    transform: scale(0.9);
}

.case-item-about-personal2:hover {
    border-radius: 100px;
    transform: scale(0.9);
}

.case-item-about-personal2 {
    background-color: #0B7189;
    transition: all 0.2s ease-in-out;
}

.case-item-about-personal3 {
    background-color: #62466B;
    transition: all 0.2s ease-in-out;
}

.case-item-about-personal3:hover {
    border-radius: 100px;
    transform: scale(0.9);
}

.case-item-about-personal4 {
    background-color: #3A445D;
    transition: all 0.2s ease-in-out;
}

.case-item-about-personal4:hover {
    border-radius: 100px;
    transform: scale(0.9);
}

.case-item-about-personal5 {
    background-color: #83B5D1;
    transition: all 0.2s ease-in-out;
}

.case-item-about-personal5:hover {
    border-radius: 100px;
    transform: scale(0.9);
}

.tag {
    width: 200px;
    font-size: 40px;
    background-image: linear-gradient(to right,#028090,#7CDEDC);
    border-radius: 25px;
    margin: 0 auto;
}


/* Tech I know section */

.tech-container {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    padding: 40px;
}

.tech-image {
    width: 64px;
    height: 64px;
    aspect-ratio: 1;
    padding-right: 10px;
    padding-bottom: 40px;
}

.tech-text {
    font-weight: 150;
    font-size: 1.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.tech {
    display: flex;
    flex-direction: row;
    padding-right: 40px;
}

#button-top-padding {
    padding-top: 20px;
}


/* App: Surf Cloud */

form {
    max-width: 420px;
    margin: 50px auto;
}

.feedback-input {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid white;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #5A83AF;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"] {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    background: #5A83AF;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 500;
}

[type="submit"]:hover {
    background: #3A445D;
}

h1 {
    display: flex;
    color: white;
    margin: 0 auto;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h4 {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid #CC6666;
    padding: 13px;
    border-radius: 5px;
  }

.support {
    background-color: #83B5D1;
    margin-top: 100px;
}

.privacy {
    background-color:#D585A3;
    margin-top: 100px;
}

.privacy-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 2px;
    text-align: justify;
    line-height:  200%;
}